body {
	background-image: url('../img/header.jpg');
	background-size: cover;
	font-family: 'Syncopate', sans-serif;
}

.headerArea {
	background-color: rgba(29,210,29,0.9);
	border-radius: 10px;
	text-align: center;
	margin: 10px 0 10px 0;
}

.bodyArea {
	background-color: rgba(0,0,0,0.8) ;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 20px;
}

.title {
	color: rgb(30,30,30);
	font-size: 5em;
	font-weight: 700;
	padding: 10px 0 10px 0;
}

#start {
	text-align: center;
	color: white;
	padding: 0 40px 0 40px;
	margin-bottom: 10px;
}
.buttonStyles h3 {
	padding: 0 40px 0 40px;
	font-weight: 700;
	color: rgb(30,30,30);
	font-size: 2em;
}

#results {
	display: none;
	color: white;
	text-align: center;
	padding-bottom: 10px;
}
#averageBox {
	display: none;
	text-align: center;
	color: white;
	margin-bottom: 20px
}
#box {
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
}

#playArea {
	height: 400px;
	background-color: white;
	border-radius: 10px;
	position: relative;
}